@charset "utf-8";

/*reset*/
*{padding:0;margin:0;box-sizing:border-box;}
a{text-decoration:none;
    font-family:"돋움",Dotum,sans-serif;font-size:12px;}
a:link,a:visited{color:black;}
li{list-style:none;}
.clearfix:after{content:'';display:block;clear:both;}
body{font-family:Arial,sans-serif;font-size:14px;}

/*주조색#3cb149 ; 보조색 #1d8844,#434748 ; 배경색#ffffff ; 기본텍스트의색#333333;*/

#wrap{width:1200px;margin:0 auto;background:#888;}
#header{height:100px;background:#777;}
.logo{width: 200px;height: 100px;float: left;text-align: center;line-height: 100px;}
.nav{height:100px;width:800px;float:right;position: relative;z-index: 11;padding-top: 57px;}
.nav>ul{}
.nav>ul>li{text-align: center;float: left;width: 25%;position: relative;}
.nav>ul>li>a{display: block;font-size: 20px;padding: 10px;background-color:pink;}
.nav>ul>li>a:hover{background-color:orange;}

.submenu{display: none;position: absolute;left: 0;top: 44px;width: 100%;}
.submenu>li{width: 100%;border-right: 0;}
.submenu>li>a{display: block;padding: 10px;}
.submenu>li>a:hover{background-color:orange;}
.backmenu{display: none;width: 1200px;background-color:lightpink;position: absolute;height: 200px;top: 100px;z-index: 10;}
/*//header*/
#banner{height:300px;background:#666;position: relative;width:1200px;margin: 0 auto;overflow: hidden;}
#banner img{width: 100%;display: block;}
.slideList{position: absolute;left: 0;top: 0;width: 3600px;height: 300px;}
.slideImg h2{width: 100px;height: 50px;border-radius:25px; left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;z-index: 9;color:white;background-color: rgba(255,255,255,0.4);text-align: center;line-height: 50px;}
.slideImg{width:1200px;height: 300px;float: left;position: relative;}
/*//slide*/
#contents{text-align: center;}
#contents > div{float: left;width: 33%;}
#contents >div.cont1{background-color: #7e57c2;height: 247px;}
.tab-menu{padding: 10px;}
.tab-menu .tab-btn{}
.tab-menu .tab-btn ul{overflow: hidden;}
.tab-menu .tab-btn ul li{float: left;width: 160px;text-align: center;margin-right: -1px;}
.tab-menu .tab-btn ul li.active{font-weight:bold;}
.tab-menu .tab-btn ul li a{padding: 10px;display: block;color:#fff;}
.tab-menu .tab-cont{padding: 20px;background-color: #512da8;text-align:left;}
.tab-img{;height: 100px;}
.tab-img img{display: block;width: 50px;float: left;margin: 30px;cursor:pointer;}


/*//contents*/

#footer{height:100px;background:#444;}
address{font-style:normal;}

/*레이어*/
.layer{display: none;position: absolute;left: 50%;top: 50%;width: 500px;height: 500px;background-color: #fff;border: 2px solid #000;margin-left: -250px;margin-top: -250px;z-index:1000;}
.layer h2{padding: 20px;}
.layer .close{position: absolute;bottom: 20px;right: 20px;}
.black{width: 100%;height: 100%;background-color: black;position: absolute;top: 0;opacity:0.8;z-index:99;display: none;}


    