@charset "utf-8";

/*reset*/
*{padding:0;margin:0;box-sizing:border-box;}
a{text-decoration:none;
    font-family:"돋움",Dotum,sans-serif;font-size:12px;}
a:link,a:visited{color:black;}
li{list-style:none;}
.clearfix:after{content:'';display:block;clear:both;}
body{font-family:Arial,sans-serif;font-size:14px;}

/*주조색#3cb149 ; 보조색 #1d8844,#434748 ; 배경색#ffffff ; 기본텍스트의색#333333;*/

#wrap{width:1000px;background:#888;}
#header{height:650px;background:#777;width: 200px;float: left;}
.logo{width: 200px;height: 40px;text-align: center;display: block;}
.nav{height:500px;width:200px;}
.nav>ul{}
.nav>ul>li{text-align: center;width: 100%;}
.nav>ul>li>a{display: block;font-size:22px;padding: 5px;transition:0.4s;}
.nav>ul>li>a:hover{background-color:violet;}
.submenu{display: none;}
.submenu>li{}
.submenu>li>a{display: block;padding: 5}
.submenu>li>a:hover{background-color:blueviolet;}
/*//header*/
#banner{height:350px;background:#666;position: relative;width:800px;overflow: hidden;}
#banner img{width: 100%;display: block;height: 350px;}
.slideList{position: absolute;left: 0;top: 0;width: 2400px;height: 350px;}
.slideImg{width:800px;height: 350px;float: left;}
/*//slide*/

#contents{height:200px;background:#555;}
.con1{width: 266px;height: 200px;float: left;}
.con1>h2{}
.con2{width: 266px;height: 200px;float: left;}
.con2>h2{}
.con3{width: 266px;height: 200px;float: left;}
.con3>h2{}
/*//contents*/

#footer{height:100px;background:#444;}




    