@charset "utf-8";

/*reset*/
*{padding:0;margin:0;box-sizing:border-box;}
a{text-decoration:none;
    font-family:"돋움",Dotum,sans-serif;font-size:12px;}
a:link,a:visited{color:black;}
li{list-style:none;}
.clearfix:after{content:'';display:block;clear:both;}
body{font-family:Arial,sans-serif;font-size:14px;}

/*주조색#3cb149 ; 보조색 #1d8844,#434748 ; 배경색#ffffff ; 기본텍스트의색#333333;*/

#wrap{width:1000px;background:#888;}
#header{height:650px;background:#777;width: 200px;float: left;}
.logo{width: 200px;height: 40px;text-align: center;display: block;}
.nav{height:500px;width:200px;}
.nav>ul{}
.nav>ul>li{text-align: center;width: 100%;position: relative;}
.nav>ul>li>a{display: block;font-size:22px;padding: 5px;transition:0.4s;}
.nav>ul>li>a:hover{background-color:violet;}
.submenu{display: none;position: absolute;right: -150px;top: 0;width: 150px;z-index: 1;}
.submenu>li{background-color:silver;}
.submenu>li>a{display: block;padding: 5}
.submenu>li>a:hover{background-color:blueviolet;}
/*//header*/
#banner{height:350px;background:#666;position: relative;width:800px;overflow: hidden;}
#banner img{width: 100%;display: block;height: 350px;}
.slideList{position: absolute;left: 0;top: 0;width: 2400px;height: 350px;}
.slideImg{width:800px;height: 350px;_float: left;}
/*//slide*/

#contents{height:200px;background:#555;}
.con1{width: 266px;height: 200px;float: left;}
.tab-menu{height:200px;}
.tab-btn{height:35px;}
.tab-btn>ul{}
.tab-btn>ul>li{width:50%;float:left;_margin-right:20px;line-height:35px;text-align:center;background:#333;border:2px solid#fff;border-left:none;}
.tab-btn>ul>li:first-child{border-left:2px solid#fff;}
.tab-btn>ul>li>a{font-size:16px;display:block;color:white;}
.tab-btn .active{background:#eee;font-weight:bold;}
.tab-btn .active a{color:darkblue;}
.tab-cont{position:relative;background:#eee;width:266px;height:165px;}
.tab-cont>ul{position:absolute;margin:20px;width:220px;}
.tab-cont>ul img{display: block;width: 50px;float:left;margin:10px;}
.tap-img{}
.tab-cont>ul>li{margin:5px 0;}
.tab-cont>ul>li>a{display:block;}
.con1>h2{}
.con2{width: 266px;height: 200px;float: left;}
.con2>h2{}
.con3{width: 266px;height: 200px;float: left;}
.con3>h2{}
/*//contents*/

#footer{height:100px;background:#444;}

/*레이어*/
.layer{width:500px;height:500px;border:2px solid #000;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;display:none;}
.layer>h2{margin:20px;}
.layer>a{position:absolute;bottom:20px;right:20px;width:60px;height:40px;border:1px solid #000;text-align:center;line-height:40px;font-size:20px;}




    