@charset "utf-8";
nav.menu_wrap{width: 980px;margin: 0 auto;height: 45px;background-color:skyblue;}
nav.menu_wrap>ul{}
nav.menu_wrap>ul:after{content:"";clear:both;display:block;}
nav.menu_wrap>ul>li{float:left;}
nav.menu_wrap>ul>li>a:hover{background-color: blue;color:white;}
nav.menu_wrap>ul>li>a{width:163.33px;display:block;line-height:45px;text-align:center;font-weight:bold;}

header#header_wrap{width: 980px;height: 50px;margin: 0 auto;background-color:gray;}
header#header_wrap>h1{float:left;width: 150px;background-color:pink;}
header#header_wrap>nav.menu_wrapper{float:right;width: 800px;background-color:skyblue;}
/*header#header_wrap:after{content:"";clear:both;display:block;}*/

header#header_wrap>h1,header#header_wrap>nav.menu_wrapper{line-height:50px;text-align:center;}
header#header_wrap>nav.menu_wrapper>ul>li{float:left;}
/*header#header_wrap>nav.menu_wrapper>ul.menu:after{content:"";clear:both;display:block;}*/
header#header_wrap>nav.menu_wrapper>ul>li>a{display:block; width: 160px;background-color:skyblue;
border-right:1px solid gray;font-weight:bold;}
/*#header_wrap>nav.menu_wrapper>ul>li:first-child{border-left:1px solid gray;}*/
header#header_wrap>nav.menu_wrapper>ul>li>a:hover{background-color:blue;color:white; }

/*content*/
div#content{width: 980px;height: 400px;text-align:center;line-height: 400px;background-color:#cdcdcd;margin: 0 auto;}
/*footer*/
footer#footer_wrap{width: 980px;height: 100px;text-align: center;line-height: 100px;background-color:violet;margin: 0 auto;}