@charset"utf-8";
/*header*/
#header_wrap{width: 980px;height: 100px;margin: 0 auto;background-color:gray;position: relative;}
#header_wrap>h1{width: 200px;margin: 0 auto;background-color:pink;text-align: center;}
#header_wrap>.util_menu{
	background-color:skyblue;position: absolute;top:10px;right: 0;
	text-align: center;line-height: 35px;}
#header_wrap>.util_menu>ul{}
/*#header_wrap>.util_menu>ul>li{width:25%;float:left;border-right:1px solid gray ; }*/
#header_wrap>.util_menu>ul>li{float:left;padding:0 15px ; border-right:1px solid gray ; }
#header_wrap>.util_menu>ul>li:{border:none;}
#header_wrap>.util_menu>ul>li>a{display:block;font-weight:bold;}
#header_wrap>.util_menu>ul>li:hover{background-color:blue;}
#header_wrap>.util_menu>ul>li:hover a{color:white;}

#header_wrap>.gnb_wrap{width: 980px;height: 45px;
	background-color:violet;bottom: 0;position: absolute;text-align: center;
	line-height: 45px;}
#header_wrap>.gnb_wrap>ul>li{float:left;width: 163.33px;border-right:1px solid gray ;}
#header_wrap>.gnb_wrap>ul>li:first-child{border-left:1px solid gray; }
#header_wrap>.gnb_wrap>ul>li>a:hover{background-color:pink;color:white;}
#header_wrap>.gnb_wrap>ul>li>a{display:block;font-weight:bold;}
